<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories - VMR Electronics Mart</title>
    <link rel="stylesheet" href="static/css/categorystyle.css">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="site-title">
            <a href="{{url_for('index')}}" style="color: rgb(0, 0, 0); text-decoration: none;">VMR Electronics Mart - Categories</a>
        </div>
        <nav>
            <input type="text" size="50" placeholder="Search for products...">
            <ul>
                <li><a href="{{url_for('index')}}">Home</a></li>
                <li><a href="{{url_for('categories')}}">Categories</a></li>
                <li><a href="cart.html">Cart</a></li>
                <li><a href="newlr.html">Login/Register</a></li>
            </ul>
        </nav>
    </header>

    <!-- Category Section -->
    <section class="categories">
        <h2>Select a Category</h2>
        <div class="category-grid">
            <!-- Mobiles -->
            <div class="category-item">
                <img src="static/images/Mobiles/pixel9.webp" alt="Mobiles">
                <h3><a href="{{url_for('mobiles')}}">Mobiles</a></h3>
            </div>
            <!-- Laptops -->
            <div class="category-item">
                <img src="static/images/Laptops/G14.png" alt="Laptops">
                <h3><a href="{{url_for('laptops')}}">Laptops</a></h3>
            </div>
            <!-- Audio -->
            <div class="category-item">
                <img src="static/images/Audio/marshall.webp" alt="Audio">
                <h3><a href="{{url_for('audio')}}">Audio</a></h3>
            </div>
            <!-- Monitors -->
            <div class="category-item">
                <img src="static/images/Monitor/benqMonitor.webp" alt="Monitors">
                <h3><a href="{{url_for('monitors')}}">Monitors</a></h3>
            </div>
            <!-- Consoles -->
            <div class="category-item">
                <img src="static/images/Consoles/console.png" alt="Consoles">
                <h3><a href="{{url_for('consoles')}}">Consoles</a></h3>
            </div>
            <!-- Malliesious -->
            <div class="category-item">
                <img src="static/images/Watches/swatch.webp" alt="Smart Watches">
                <h3><a href="{{url_for('smartwatches')}}">Smart Watches</a></h3>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 VMR Electronics Mart | Privacy Policy</p>
    </footer>
</body>
</html>
