<!DOCTYPE html>
<html>
  <head>
    <title>VMR Electronics</title>
    <style>
      h1{
        font-size: 40px;
        font-family: Roboto;
        color: rgb(100,100,100);
        text-align: center;
      }
      #Banner{
        width: 100%;
        height: 360px;
        <!-- object-fit: center; -->
      }
      h2{
        font-family: Roboto;
        font-size: 32px;
        color: rgb(50,50,50);
        text-align:center;
      }
      #container{
        max-width: 720px;
        margin: 0 auto 0 auto;
      }
    </style>
  </head>
  <body>
    <div id="container">
      <h1>
        Welcome to VMR Electronics!
      </h1>
      <img id="Banner" src="static/banner.webp">
      <h2>
        Featured Products
      </h2>
      <h4>
          Asus ROG Zephyrus G16
      </h4>
      <p>Powered by AMD</p>
      <div style="text-align:center">
        <button >View</button>
      </div>
    </div>
  </body>
</html>